{% extends 'ApplicationSonataAdminBundle::layout.html.twig' %}

{% block sonata_head_title %}
  {{ 'Admin'|trans({}, 'SonataAdminBundle') }}

  {% if title_items is defined %}
    &gt;
    {% for item in title_items %}
      {{ item }}
    {% endfor %}
  {% endif %}
{% endblock %}
