{% extends 'SonataAdminBundle::standard_layout.html.twig' %}

{% block stylesheets %}
  {{ parent() }}
  <link type="text/css" rel="stylesheet" href="{{ asset('bundles/applicationsonataadmin/css/admin.css') }}">
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  <!--form js -->
{% endblock %}

{% block sonata_sidebar_search %}
{% endblock %}

{% block sonata_top_nav_menu %}
  <div class="navbar-custom-menu">
    <ul class="nav navbar-nav">
      {% block sonata_top_nav_menu_add_block %}
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            <i class="fa fa-plus-square fa-fw" aria-hidden="true"></i> <i class="fa fa-caret-down" aria-hidden="true"></i>
          </a>
          {% include sonata_admin.adminPool.getTemplate('add_block') %}
        </li>
      {% endblock %}
      {% block sonata_top_nav_menu_user_block %}
        <li class="dropdown user-menu">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            <i class="fa fa-user fa-fw" aria-hidden="true"></i> <i class="fa fa-caret-down" aria-hidden="true"></i>
          </a>
          <ul class="dropdown-menu dropdown-user">
            {% include sonata_admin.adminPool.getTemplate('user_block') %}
          </ul>
        </li>
      {% endblock %}
    </ul>
  </div>
{% endblock %}

{% block side_bar_before_nav %}
  <ul class="sidebar-menu">
    <li class="{% if app.request.attributes.get('_route') == 'sonata_admin_dashboard' %} active{% endif %}">
      <a id="control_panel" href="{{ path('sonata_admin_dashboard') }}">
        <i class="fa fa-dashboard"></i><span>{{ 'title_dashboard'|trans({}, 'SonataAdminBundle') }}</span>
      </a>
    </li>
  </ul>
{% endblock %}

{% block side_bar_after_nav %}
  {% include 'ApplicationSonataAdminBundle:Core:sidebar_menu.html.twig' %}
  <p class="text-center small" style="border-top: 1px solid #444444; padding-top: 10px">
    {% block side_bar_after_nav_content %}
      <a href="http://factorov.ru/" rel="noreferrer" target="_blank">Лаборатория Факторова</a>
    {% endblock %}
  </p>
{% endblock %}
