{% extends 'base.html.twig' %}

{% block title %}This is title of index page{% endblock %}

{% block content %}
  This is content of index page
{% endblock %}

{% block foot_script_assetic %}
{% endblock foot_script_assetic %}
