/*
.logo img {
    max-width: 120px !important;
    max-height: 55px !important;
}

.table .date-table>tbody>tr>td, .table .date-table>tbody>tr>th, .table .date-table>tfoot>tr>td, .table .date-table>tfoot>tr>th, .table .date-table>thead>tr>td, .table .date-table>thead>tr>th {
    padding: 0;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: none;
}

.table thead > tr > th.vertical-align, .table tbody > tr > td.vertical-align {
    vertical-align: middle;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    background-color: #eeeeea;
}

.na-text {
    font-style: italic;
    color: #777;
    text-transform: capitalize;
}

.sidebar-menu>li:hover>a, .sidebar-menu>li.active>a {
    color: #fff;
    background: #22a2d3 !important;
    border-left-color: #fff;
}
*/
