{% block form_row %}
  {% spaceless %}
    <div class="form-group">
      {{ form_label(form, null, {label_attr: {class: 'col-sm-2 control-label'}}) }}
      <div class="col-sm-10">
        {{ form_widget(form) }}
        {% if errors|length > 0 %}
          <div class="help-block sonata-ba-field-error-messages">
            {{ form_errors(form) }}
          </div>
        {% endif %}
      </div>
    </div>
  {% endspaceless %}
{% endblock form_row %}

{% block checkbox_row %}
{% spaceless %}
  <div class="form-group">
      {{- form_label(form, null, {label_attr: {class: 'col-sm-3 control-label'}, widget: block('checkbox_widget') }) -}}
      {% if errors|length > 0 %}
        <div class="help-block sonata-ba-field-error-messages">
          {{ form_errors(form) }}
        </div>
      {% endif %}
  </div>
{% endspaceless %}
{% endblock %}

{% block checkbox_label -%}
  {% if sonata_admin.admin %}
    {% set translation_domain = sonata_admin.field_description.translationDomain %}
  {% endif %}
  {% if widget is defined %}
    {% if required %}
      {% set label_attr = label_attr|merge({class: (label_attr.class|default('') ~ ' required')|trim}) %}
    {% endif %}
    {% if parent_label_class is defined %}
      {% set label_attr = label_attr|merge({class: (label_attr.class|default('') ~ ' ' ~ parent_label_class)|trim}) %}
    {% endif %}
    {% if label is not same as(false) and label is empty %}
      {% set label = name|humanize %}
    {% endif %}
    <label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
    {{- widget|raw -}}
    {%- if label is not same as(false) -%}
      &nbsp;<span class="control-label__text">
                    {{- label|trans({}, translation_domain) -}}
                </span>
    {%- endif -%}
    </label>
  {% endif %}
{%- endblock checkbox_label %}

{% block integer_widget %}
  {% set attr = {'class': 'form-control'} | merge(attr) %}
  {{ block('form_widget_simple') }}
{% endblock %}

{% block app_admin_sonata_date_picker_widget %}
{% spaceless %}
  {% set attr = {'class': 'sonata-medium-date form-control'} | merge(attr) %}
  {{ block('sonata_type_date_picker_widget') }}
{% endspaceless %}
{% endblock %}

