<!DOCTYPE html>

{% block html_tag %}
<html lang="{{ app.request.locale }}">
{% endblock html_tag %}

{% block head %}
  <head>
    <meta charset="{{ _charset }}" />
    {% block head_style %}
    {% endblock head_style %}

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

    {% block head_script %}
      <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet" type="text/css" />
      <link href="{{ asset('libs/ui/jquery-ui.min.css') }}" rel="stylesheet" type="text/css" />
      <link href="{{ asset('libs/slick/slick.css') }}" rel="stylesheet" type="text/css" />
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <link href="{{ asset('scss/style.css') }}" rel="stylesheet" type="text/css" />
    {% endblock head_script %}

    <title>{% block title %}{% if app.debug %}[{{ app.environment|upper }}] - {% endif %}{% block title_text %}{% endblock %}{% endblock %}</title>
    {% block favicon %}<link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />{% endblock %}
    {% block head_bottom %}
    {% endblock head_bottom %}
  </head>
{% endblock head %}

<body>
{% block body %}

  {% block container %}
    <div class="body-wrap">
      {% block content %}

        <div class="main-wrap">
          {% block mainwrap %}
            {% include '::header.html.twig' %}
          {% endblock mainwrap %}
        </div>

        <!-- MAIN CONTENT -->
        <div class="{% block main_class %}container main-content {% endblock %}">
          {{ main_content }}
        </div>

      {% endblock content %}
    </div>
  {% endblock %}

  {% block body_end_before_js %}
  {% endblock body_end_before_js %}

  {% block foot_script %}

    {% block foot_script_assetic %}
    {% endblock foot_script_assetic %}

  {% endblock foot_script %}
{% endblock body %}

</body>
</html>
