{% form_theme form 'ApplicationSonataUserBundle:FormTheme:form_theme.html.twig' %}

<div class="register short_form_wrap">
  <div class="heading">
    <span class="h3"><i class="fa fa-pencil-square-o"></i> Регистрация</span>
  </div>
  <div class="g-content">
    <form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="fos_user_registration_register form-horizontal">
      {{ form_row(form.email) }}
      {{ form_row(form.plainPassword) }}
      {{ form_row(form._token) }}
      <div class="errors">
        {{ form_errors(form.email) }}
        {{ form_errors(form.plainPassword.first) }}
        {{ form_errors(form.plainPassword.second) }}
        {{ form_errors(form._token) }}
      </div>
      <div class="buttons">
        {% include 'ApplicationSonataUserBundle:Security:social.html.twig' %}
        <input type="submit" class="btn button-small" value="{{ 'registration.submit'|trans({}, 'FOSUserBundle') }}" />
      </div>
      <div class="clearfix"></div>
    </form>
  </div>
</div>
