{% extends '::base.html.twig' %}

{% block head_style %}
  {{ parent() }}
  {#{% stylesheets 'css/user.css' filter='?uglifycss' filter='cssrewrite' output='compiled/css/user.css' %}#}
    {#<link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="screen" />#}
  {#{% endstylesheets %}#}
{% endblock head_style %}

{% block main_class %}{{ parent() }} no-padding no-overflow{% endblock %}

{% block admin_menu %}
  <li><a href="{{ path('admin_sonata_user_user_edit', {'id': user.id}) }}" target="_blank">Редактировать пользователя</a></li>
{% endblock %}

{% block main %}
  <div id="buddypress" class="">
    <div id="item-header" role="complementary">
      <div class="profile">
        <div class="profile-info row">
          <div class="col-lg-12 col-md-12 nav-divider"></div>
          <div class="avatar-card">
            {% if is_granted('CURRENT_USER', user) %}
              <a class="edit" href="{{ path('fos_user_profile_edit') }}" title="Редактировать основные данные"><i class="fa fa-pencil"></i></a>
            {% endif %}
            <p>{{ user.displayName }}</p>
          </div>
        </div>
      </div>
    </div>
    <div id="item-nav">
      <div class="item-list-tabs no-ajax" id="object-nav" role="navigation">
        {% set menu = knp_menu_get('user_main', [], {'user': user, 'current': current_item is defined ? current_item : null}) %}
        {{ mopa_bootstrap_menu(menu, {'currentClass': 'current'}) }}
      </div>
    </div>
    <div id="item-body">
      <aside class="col-md-3">
        {% block sonata_profile_menu %}
        {% endblock %}
      </aside>
      <div class="col-md-9 block middle_block">
        <div class="top_errors">
          {% include 'SonataCoreBundle:FlashMessage:render.html.twig' %}
        </div>
        {% block sonata_profile_content '' %}
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
{% endblock %}
