{% extends "ApplicationSonataUserBundle:Profile:settings.html.twig" %}

{% block sonata_profile_content %}

  <div class="heading">
    <span class="h3"><i class="fa fa-envelope"></i> {{ 'title_user_edit_authentication'|trans({}, 'SonataUserBundle') }}</span>
  </div>
  <div class="g-content">
    <div class="row">
      <div class="col-sm-6">
        <form action="{{ path('sonata_user_profile_edit_authentication') }}" {{ form_enctype(form) }} method="POST">
          {{ form_widget(form) }}
          {{ form_errors(form) }}
          <div class="buttons">
            <input type="submit" name="submit" class="btn btn-small" value="{{ 'sonata_user_submit'|trans({}, 'SonataUserBundle') }}" />
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
