{% extends "ApplicationSonataUserBundle:Profile:settings.html.twig" %}

{% block foot_script_assetic %}
  {{ parent() }}
  <script>
    $('.fileform button').click(function(){
      $(this).siblings('input[type=file]').trigger('click');
    });

    $('.fileform input').change(function(){
      var str = $(this).val();
      if (str.lastIndexOf('\\')) {
        var i = str.lastIndexOf('\\')+1;
      } else {
        var i = str.lastIndexOf('/')+1;
      }
      var filename = str.slice(i);
      $(this).siblings('.filelabel').text(filename);
      $(this).parent('.fileform').siblings('small.tip').css('display', 'block');
    });
  </script>
{% endblock foot_script_assetic %}

{% set user = app.user %}

{% block sonata_profile_title %}
  {{ "title_user_account" | trans({}, 'SonataUserBundle')}} - {{ "title_user_edit_profile" | trans({}, 'SonataUserBundle')}}
{% endblock %}

{% block sonata_profile_content %}
  <div class="settings">
    <div class="heading">
      <span class="h3"><i class="fa fa-pencil"></i> {{ "link_edit_profile" | trans({}, 'SonataUserBundle')}}</span>
    </div>
    <div class="g-content">
      <form action="{{ path('sonata_user_profile_edit') }}" {{ form_enctype(form) }} method="POST">
        <div class="row">
          <div class="col-sm-6 col-sm-push-6 col-xs-7 col-xs-push-5 col-right">
          </div>
          <div class="col-sm-6 col-sm-pull-6 col-xs-5 col-xs-pull-7 col-left">
            {{ form_widget(form) }}
            {{ form_errors(form) }}
            <div class="buttons">
              <input type="submit" name="submit" class="btn btn-small" value="Сохранить" />
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
{% endblock %}
