{% extends "ApplicationSonataUserBundle:Profile:settings.html.twig" %}

{% block sonata_profile_content %}
  <div class="heading">
    <span class="h3"><i class="fa fa-lock"></i> {{ 'title_social_accounts'|trans({}, 'SonataUserBundle') }}</span>
  </div>
  <div class="g-content">
    <ul class="accs">
      <li>
        <div class="name"><i class="fa fa-vk"></i>&nbsp;Вконтакте:</div>
        {% if accounts['vkontakte'] is empty %}
          <div class="res"><a href="{{ path('hwi_oauth_service_redirect', {'service': 'vkontakte'}) }}" title="Подключить к текущему аккаунту VK">Подключить</a></div>
        {% else %}
          <div class="res active">
            <div class="acc">{{ accounts['vkontakte'].nickname }}</div>
            {% if user.configuredEmail or linked_accounts_amount > 1 %}
              <a href="{{ path('d2p_social_network_disconnect_service', {'service': 'vkontakte'}) }}" title="Отключить от текущего аккаунта VK">Отключить</a>
            {% endif %}
          </div>
        {% endif %}
      </li>
      <li>
        <div class="name"><i class="fa fa-facebook"></i>&nbsp;Facebook:</div>
        {% if accounts['facebook'] is empty %}
          <div class="res"><a href="{{ path('hwi_oauth_service_redirect', {'service': 'facebook'}) }}" title="Подключить к текущему аккаунту Facebook">Подключить</a></div>
        {% else %}
          <div class="res active">
            <div class="acc">{{ accounts['facebook'].nickname }}</div>
            {% if user.configuredEmail or linked_accounts_amount > 1 %}
              <a href="{{ path('d2p_social_network_disconnect_service', {'service': 'facebook'}) }}" title="Отключить от текущего аккаунта Facebook">Отключить</a>
            {% endif %}
          </div>
        {% endif %}
      </li>
      <li>
        <div class="name"><i class="fa fa-google"></i>&nbsp;Google:</div>
        {% if accounts['google'] is empty %}
          <div class="res"><a href="{{ path('hwi_oauth_service_redirect', {'service': 'google'}) }}" title="Подключить к текущему аккаунту Google">Подключить</a></div>
        {% else %}
          <div class="res active">
            <div class="acc">{{ accounts['google'].nickname }}</div>
            {% if user.configuredEmail or linked_accounts_amount > 1 %}
              <a href="{{ path('d2p_social_network_disconnect_service', {'service': 'google'}) }}" title="Отключить от текущего аккаунта Google">Отключить</a>
            {% endif %}
          </div>
        {% endif %}
      </li>
      <li>
        <div class="name"><i class="fa fa-twitter"></i>&nbsp;Twitter:</div>
        {% if accounts['twitter'] is empty %}
          <div class="res"><a href="{{ path('hwi_oauth_service_redirect', {'service': 'twitter'}) }}" title="Подключить к текущему аккаунту Twitter">Подключить</a></div>
        {% else %}
          <div class="res active">
            <div class="acc">{{ accounts['twitter'].nickname }}</div>
            {% if user.configuredEmail or linked_accounts_amount > 1 %}
              <a href="{{ path('d2p_social_network_disconnect_service', {'service': 'twitter'}) }}" title="Отключить от текущего аккаунта Twitter">Отключить</a>
            {% endif %}
          </div>
        {% endif %}
      </li>
    </ul>
  </div>
{% endblock %}
