{% extends "ApplicationSonataUserBundle:Profile:action.html.twig" %}

{% set user = app.user %}
{% set current_item = 'link_profile_settings' %}

{% block sonata_profile_menu %}
  <div class="side-widget space25 info_menu">
    <div class="heading">
      <span class="h3"><i class="fa fa-cog"></i>&nbsp;{{ 'link_profile_settings' | trans({}, 'SonataUserBundle') }}</span>
    </div>
    <div class="clearfix"></div>
    {{ mopa_bootstrap_menu(knp_menu_get('user_settings', [], {'user': user})) }}
  </div>
{% endblock %}
