{% extends "ApplicationSonataUserBundle:Profile:action.html.twig" %}

{% block sonata_profile_menu %}
  <div class="block about_me">
    <div class="heading">
      <span class="h3"><i class="fa fa-info-circle"></i>&nbsp;О себе</span>
    </div>
    <ul class="about-profile g-content">
      {% if not user.fullname|trim is empty %}
        <li><b> Имя: </b> {{ user.fullname }}</li>
      {% endif %}
      <li><b> Присоединился: </b> {{ user.createdAt | localizeddate('medium', 'none') }}</li>
      {% if not user.website is empty %}
        <li><b>Сайт: </b><a href="{{ user.website }}" title="Сайт {{ user.displayName }}" target="_blank" rel="nofollow">{{ user.website }}</a></li>
      {% endif %}
    </ul>
    <div class="clearfix"></div>
    <div class="space25"></div>
  </div>
{% endblock %}


{% block sonata_profile_content %}
  <div class="row center_row">
  </div>
{% endblock %}
