{% extends '::base.html.twig' %}

{% block head_style %}
  {{ parent() }}
{#  {% stylesheets 'css/user.css' filter='?uglifycss' filter='cssrewrite' output='compiled/css/user.css' %}
    <link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="screen" />
  {% endstylesheets %}#}
{% endblock head_style %}

{% block main %}
  {% block fos_user_content %}
  {% endblock fos_user_content %}
{% endblock %}
