{#
{% block user_block %}
  <!-- User image -->
  <li class="user-header">
    <p>
      #}
{#{{ app.user.fullName }}#}{#

      #}
{#<small>{{ app.user.email }}</small>#}{#

    </p>
  </li>
  <!-- Menu Body -->
  #}
{#<li class="user-body">
    <div class="row">
      <div class="col-xs-4 text-center">
        <a href="#">Followers</a>
      </div>
      <div class="col-xs-4 text-center">
        <a href="#">Sales</a>
      </div>
      <div class="col-xs-4 text-center">
        <a href="#">Friends</a>
      </div>
    </div>
  </li>#}{#


  <li class="user-footer">
    <div class="pull-left">
    </div>
    <div class="pull-right">
      <a href="{{ path('fos_user_security_logout') }}" class="btn btn-default btn-flat" title="{{ 'link_logout'|trans({}, 'SonataAdminBundle') }}">
        {{ 'link_logout'|trans({}, 'SonataAdminBundle') }}
      </a>
    </div>
  </li>
{% endblock %}
#}
