<td class="sonata-ba-list-field sonata-ba-list-field-{{ field_description.type }}" objectId="{{ admin.id(object) }}"{% if field_description.options.row_align is defined %} style="text-align:{{ field_description.options.row_align }}"{% endif %}>
  {% set route = field_description.options.route.name|default(null) %}
  {% set action = route == 'show' ? 'VIEW' : route|upper %}

  {% if
  field_description.options.identifier is defined
  and route
  and action
  and admin.hasRoute(route)
  and admin.isGranted(action, action in ['VIEW', 'EDIT'] ? object : null)
  %}
    <a class="sonata-link-identifier" href="{{ admin.generateObjectUrl(route, object, field_description.options.route.parameters) }}">
      {%- block field %}{{ value }}{% endblock -%}
    </a>
  {% else %}
    {% set isEditable = field_description.options.editable is defined and field_description.options.editable and admin.isGranted('EDIT', object) %}
    {% set xEditableType = field_description.type|sonata_xeditable_type %}

    {% set _field = block('field') %}
    {% set _field_value = _field|trim is not empty ? _field : '' %} {# <span class="na-text">n/a</span> #}

    {% if isEditable and xEditableType %}
      {% set url = path('sonata_admin_set_object_field_value', { 'context': 'list', 'field': field_description.name, 'objectId': admin.id(object), 'code': admin.code(object) }|merge(admin.getPersistentParameters|default([])) )  %}
      <span {% block field_span_attributes %}class="x-editable" data-type="{{ xEditableType }}" data-value="{{ field_description.type == 'date' and value is not empty ? value.format('Y-m-d') : value }}" data-title="{{ field_description.label|trans({}, field_description.translationDomain) }}" data-pk="{{ admin.id(object) }}" data-url="{{ url }}" {% endblock %}>
          {{ _field_value|raw }}
                {#{{ block('field') }}#}
            </span>
    {% else %}
      {{ _field_value|raw }}
      {#{{ block('field') }}#}
    {% endif %}
  {% endif %}
</td>
