{% if admin.isGranted('CREATE', object) and admin.hasRoute('create') %}
  <a href="{{ admin.generateUrl('create', {'oid': object.id}) }}" class="btn btn-sm btn-default delete_link" title="{{ 'action_duplicate'|trans({}, 'SonataAdminBundle') }}">
    <i class="fa fa-clone" aria-hidden="true"></i>
  </a>
{% endif %}
