{% extends admin.getTemplate('base_list_field') %}

{% block field %}
{% spaceless %}
  {% if attribute(object, field_description.options.method) is defined and attribute(object, field_description.options.method) %}
    <a href="#" class="accordion-toggle expand-row" data-toggle="collapse" data-target="#row{{ object.id }}" data-id="{{ object.id }}" onclick="return false;"><i class="fa fa-plus"></i></a>
  {% else %}
    <span></span>
  {% endif %}
{% endspaceless %}
{% endblock %}
