{% extends 'ApplicationSonataAdminBundle:CRUD:list.html.twig' %}

{% block javascripts %}
  {{ parent() }}
  <script>
    $(function () {
      $('a.expand-row').each(function () {
        var $a = $(this);

        var target = $a.attr('data-target');

        $(target).on('show.bs.collapse', function () {
          $a.html('<i class="fa fa-minus"></i>');
        });

        $(target).on('hide.bs.collapse', function () {
          $a.html('<i class="fa fa-plus"></i>');
        });
      });
    });
  </script>
{% endblock %}
