{% if admin.hasAccess('create') and admin.hasRoute('create') %}
  {% set label = attribute(admin, 'transLinkAction') is defined ? admin.transLinkAction('link_action_create') : 'link_action_create'|trans({}, 'SonataAdminBundle') %}
  {% if admin.subClasses is empty %}
    <a class="sonata-action-element" href="{{ admin.generateUrl('create') }}">
      <i class="fa fa-plus-circle" aria-hidden="true"></i>
      {{ label }}</a>
  {% else %}
    <li class="divider" role="presentation"></li>
    {% for subclass in admin.subclasses|keys %}
      <li>
        <a href="{{ admin.generateUrl('create', {'subclass': subclass}) }}">
          <i class="fa fa-plus-circle" aria-hidden="true"></i>
          {{ label }} {{ subclass|trans({}, admin.translationdomain) }}
        </a>
      </li>
    {% endfor %}
    <li class="divider" role="presentation"></li>
  {% endif %}
{% endif %}
