<a class="sonata-action-element" href="{{ admin.generateUrl('create', {'oid': object.id}) }}">
  <i class="fa fa-clone" aria-hidden="true"></i> {{ 'action_duplicate'|trans({}, 'SonataAdminBundle') }}</a>
