{% extends 'MopaBootstrapBundle:Menu:menu.html.twig' %}

{% block item %}
  {% if item.displayed %}
    {# building the class of the item #}
    {%- set classes = item.attribute('class') is not empty ? [item.attribute('class')] : [] %}
    {%- if matcher.isCurrent(item) %}
      {%- set classes = classes|merge([options.currentClass]) %}
    {%- elseif matcher.isAncestor(item, options.matchingDepth) %}
      {%- set classes = classes|merge([options.ancestorClass]) %}
    {%- endif %}
    {%- if item.actsLikeFirst %}
      {%- set classes = classes|merge([options.firstClass]) %}
    {%- endif %}
    {%- if item.actsLikeLast %}
      {%- set classes = classes|merge([options.lastClass]) %}
    {%- endif %}

    {# Mark item as "leaf" (no children) or as "branch" (has children that are displayed) #}
    {% if item.hasChildren and options.depth is not same as(0) %}
      {% if options.branch_class is not empty and item.displayChildren %}
        {%- set classes = classes|merge([options.branch_class]) %}
      {% endif %}
    {% elseif options.leaf_class is not empty %}
      {%- set classes = classes|merge([options.leaf_class]) %}
    {%- endif %}

    {%- set attributes = item.attributes %}
    {%- if classes is not empty %}
      {%- set attributes = attributes|merge({'class': classes|join(' ')}) %}
    {%- endif %}
    {# displaying the item #}
    {% import 'knp_menu.html.twig' as knp_menu %}
    <li{{ knp_menu.attributes(attributes) }}>
      {%- if item.uri is not empty and (not matcher.isCurrent(item) or options.currentAsLink) %}
        {%- set linkElement = block('linkElement') %}
        {%- if item.extras.seo_hide|default(false) %}
          {#{{ seo_hide_content(linkElement) }}#}
        {%- else %}
          {{ linkElement | raw }}
        {%- endif %}
      {%- else %}
        {{ block('spanElement') }}
      {%- endif %}
      {# render the list of children#}
      {%- set childrenClasses = item.childrenAttribute('class') is not empty ? [item.childrenAttribute('class')] : [] %}
      {%- set childrenClasses = childrenClasses|merge(['menu_level_' ~ item.level]) %}
      {%- set listAttributes = item.childrenAttributes|merge({'class': childrenClasses|join(' ') }) %}
      {{ block('list') }}
    </li>
  {% endif %}
{% endblock %}

{% block spanElement %}{% import 'knp_menu.html.twig' as knp_menu %}<span{{ knp_menu.attributes(item.labelAttributes) }}>{% if item.extras.icon|default(false) %}{{ mopa_bootstrap_icon(item.extras.icon, item.extras.icon_white|default(false)) }}{{ ' ' }}{%- endif %}{{ block('label') }}</span>{% endblock %}

{% block label %}
  {% set label = item.label|trans(item.getExtra('translation_params', {}), item.getExtra('translation_domain', 'navigation')) %}
  {% if options.allow_safe_labels and item.getExtra('safe_label', false) %}{{ label|raw }}{% else %}{{ label }}{% endif %}
{% endblock %}
