{% extends "ApplicationSonataUserBundle::layout.html.twig" %}

{% block fos_user_content %}
  <div class="short_form_wrap message_wrap alert alert-success">
    <p>{{ 'resetting.password_already_requested'|trans({}, 'FOSUserBundle') }}</p>
    <a href="{{ path('d2p_main_homepage') }}" title="Вернуться на главную страницу" class="email_home">Вернуться на главную</a>
  </div>
{% endblock fos_user_content %}
