{% extends "ApplicationSonataUserBundle::layout.html.twig" %}

{% block fos_user_content %}
  <div class="short_form_wrap">
    <div class="heading">
      <span class="h3"><i class="fa fa-lock"></i> Забыли пароль</span>
    </div>
    <div class="g-content">
      <form action="{{ path('fos_user_resetting_send_email') }}" method="post" role="form">
        <div class="form_block">
          <label for="username" class="required">{{ 'resetting.request.username'|trans({}, 'FOSUserBundle') }}</label>
          <input id="username" name="username" required="required" />
        </div>
        <div class="errors">
          {% if invalid_username is defined %}
            <div class="alert alert-danger">{{ 'resetting.request.invalid_username'|trans({'%username%': invalid_username}, 'FOSUserBundle') }}</div>
          {% endif %}
        </div>
        <div class="buttons">
          <input type="submit" class="btn btn-small" value="{{ 'resetting.request.submit'|trans({}, 'FOSUserBundle') }}"/>
        </div>
      </form>
    </div>
  </div>
{% endblock fos_user_content %}
