{% extends "ApplicationSonataUserBundle::layout.html.twig" %}

{% block fos_user_content %}
  <div class="short_form_wrap">
    <div class="heading">
      <span class="h3"><i class="fa fa-lock"></i> Сброс пароля</span>
    </div>
    <div class="g-content">
      <form action="{{ path('fos_user_resetting_reset', {'token': token}) }}" {{ form_enctype(form) }} method="post">
        {% form_theme form 'ApplicationSonataUserBundle:FormTheme:form_theme.html.twig' %}
        {{ form_row(form.new.first) }}
        {{ form_row(form.new.second) }}
        {{ form_row(form._token) }}
        {{ form_rest(form) }}

        {{ form_errors(form) }}
        <div class="errors">
          {{ form_errors(form.new.first) }}
          {{ form_errors(form.new.second) }}
          {{ form_errors(form._token) }}
        </div>
        <div class="buttons button_left">
          <input type="submit" class="btn btn-small" value="{{ 'resetting.reset.submit'|trans({}, 'FOSUserBundle') }}"/>
        </div>
      </form>
    </div>
  </div>
{% endblock fos_user_content %}
