{% extends "ApplicationSonataUserBundle::layout.html.twig" %}

{% block fos_user_content %}
  <div class="login short_form_wrap">
    <div class="heading">
      <span class="h3"><i class="fa fa-lock"></i> Вход</span>
    </div>
    <div class="g-content">
      <form action="{{ path("fos_user_security_check") }}" method="post" role="form">
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>
        {% if not last_target_path is empty %}
          <input type="hidden" name="_target_path" value="{{ last_target_path }}" />
        {% endif %}
        <div class="form_block">
          <label for="username_login">{{ 'security.login.email'|trans({}, 'SonataUserBundle') }}</label>
          <input id="username_login" name="_username" value="{{ last_username }}" required="required"/>
        </div>
        <div class="form_block">
          <label for="password_login">{{ 'form.label_password'|trans({}, 'SonataUserBundle') }}</label>
          <input type="password" id="password_login" name="_password" required="required"/>
        </div>
        <div class="form_block checkbox_block">
          <input type="checkbox" id="remember_me_login" name="_remember_me" value="on"/><label for="remember_me_login">{{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}</label>
          <a href="{{ path('fos_user_resetting_request') }}" class="left forgotten" title="Восставновить пароль">{{ 'forgotten_password'|trans({}, 'SonataUserBundle') }}</a>
        </div>
        <div class="errors">
          {% if error %}
              <div class="alert alert-danger">{{ error|trim('.')|trans({}, 'FOSUserBundle') }}</div>
          {% endif %}
        </div>
        <div class="buttons">
          {% include 'ApplicationSonataUserBundle:Security:social.html.twig' %}
          <input type="submit" id="_submit" name="_submit" class="pink_button" value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}"/>
        </div>
        <div class="clearfix"></div>
      </form>
    </div>
  </div>
{% endblock fos_user_content %}
