{% spaceless %}
  <ul class="social">
    <li><a href="#" class="fa fa-vk" title="Войти, используя VK"></a></li>
    <li><a href="#" class="fa fa-facebook" title="Войти, используя Facebook"></a></li>
    <li><a href="#" class="fa fa-google" title="Войти, используя Google"></a></li>
    <li><a href="#" class="fa fa-twitter" title="Войти, используя Twitter" target=""></a></li>
  </ul>
{% endspaceless %}
