{% extends '::base.html.twig' %}

{% block title_text %}Admin login{% endblock %}

{% block head_script %}
  {% stylesheets
  'bundles/sonatacore/vendor/bootstrap/dist/css/bootstrap.min.css' output='compiled/css/*.css' %}
  <link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="screen" />
  {% endstylesheets %}
  <style>
    div.connection {
      width: 250px;
      margin: 300px auto 0;
    }

    input[type="text"], input[type="password"] {
      width: 100%;
    }

    input {
      margin-bottom: 7px;
    }

  </style>
{% endblock head_script %}

{% block content %}
  <div class="wrapper">
    <div class="connection">
      <form action="{{ path("sonata_user_admin_security_check") }}" method="post">

        {% if error %}
          <div class="alert alert-error">{{ error.message|trans({}, 'SonataUserBundle') }}</div>
        {% endif %}

        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

        <div class="control-group">
          <label for="username">{{ 'security.login.username'|trans({}, 'FOSUserBundle') }}</label>

          <div class="controls">
            <input type="text" id="username" name="_username" value="{{ last_username }}" class="big sonata-medium"/>
          </div>
        </div>

        <div class="control-group">
          <label for="password">{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}</label>

          <div class="controls">
            <input type="password" id="password" name="_password" class="big sonata-medium" />
          </div>
        </div>

        <div class="control-group">
          <label for="remember_me">
            <input type="checkbox" id="remember_me" name="_remember_me" value="on" checked/>
            {{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}
          </label>
        </div>

        <div class="form-actions">
          <input type="submit" class="btn btn-primary" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}" />
        </div>
      </form>
    </div>
  </div>
{% endblock %}
