{% extends "ApplicationSonataUserBundle:Profile:settings.html.twig" %}

{% block sonata_profile_content %}
  <div class="heading">
    <span class="h3"><i class="fa fa-lock"></i> {{ 'title_user_change_password'|trans({}, 'SonataUserBundle') }}</span>
  </div>
  <div class="g-content">
    <div class="row">
      <div class="col-sm-6">
        <form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST">
          {{ form_widget(form) }}
          {{ form_errors(form) }}
          <div class="buttons">
            <input type="submit" name="submit" class="btn btn-small" value="{{ 'sonata_user_submit'|trans({}, 'SonataUserBundle') }}" />
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
